/Assignment05/Assignment 05-practice1.ipynb
/Assignment05/Assignment05-practice02.ipynb
/Assignment05/junhyuck.ipynb
/Assignment05/cs.jpg
/Assignment05/Ponyo.jpg
/Assignment05/ĸó.PNG
/Assignment05/rgb2.PNG